.card{
  margin-left: 20%;
  width: 700px;
  height: 500px;
  border: solid 3px;
  border-radius: 30px;
  background-image: url(../photo/名刺背景.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img{
  height: 60%;
}

img{
  margin-top: 10px;
  margin-left: 20px;
  border: solid 2px;
}

.canvas_con{
  width: 50%;
  height: 100%;
  margin-left: 10px;
  border-right: solid 1px #000;
  float: left;
}
